*.egg-info
.DS_Store
.coverage*
.idea
.notipy.json
.single_run
.vscode/
__pycache__
__pycache__
coverage.xml
datasets/
genomes/
preprocessed_data_v*/
plots_v*/
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
